<a href="https://colab.research.google.com/github/NagaDhanush/Machine_Learning/blob/master/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
x = np.random.randint(1, 21, size=(5,4)).astype(np.float)
x[3, :] = np.nan
x[2, 3] = np.nan
x[4, 2] = np.nan

df = pd.DataFrame(data=x, columns=['A', 'B', 'C', 'D'])
df

      A     B     C    D
0  15.0  12.0   1.0  3.0
1  13.0  17.0   1.0  9.0
2  14.0   3.0  11.0  NaN
3   NaN   NaN   NaN  NaN
4   3.0   8.0   NaN  4.0

In [0]:
df.dropna(axis=0)

In [0]:
df.dropna(axis=1)

In [0]:
df.dropna(axis=0, how='all')

In [0]:
df.dropna(axis=0, thresh=4)

In [0]:
df.dropna(axis=0, subset=['C'])

In [0]:
from sklearn.impute import SimpleImputer

In [0]:
# Mean Imputation
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

imputer.fit_transform(df)

In [0]:
# Median Imputation
imputer = SimpleImputer(missing_values=np.nan, strategy='median')

imputer.fit_transform(df)

In [0]:
# Most-frequent Imputation
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

imputer.fit_transform(df)

In [0]:
# Constant Imputation
imputer = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value=1000)

imputer.fit_transform(df)

Handling Categorical Data

In [0]:
df = pd.DataFrame([['green', 'XL', 540, 'class1'],
                   ['red', 'M', 600, 'class2'],
                   ['black', 'S', 490, 'class1'],
                   ['blue', 'L', 750, 'class1']])

df.columns = ['color', 'size', 'price', 'class']

print('Categorical features: {}, {}, {}'.format('color', 'size', 'class'))
df

Ordinal features

In [0]:
size_mapping = {'S': 1, 'M': 2, 'L':3, 'XL':4}
df['size'] = df['size'].map(size_mapping)

df

In [0]:
inverse_size_mapping = {v:k for k,v in size_mapping.items()}
df['size'] = df['size'].map(inverse_size_mapping)

df

In [0]:
# Importing LabelEncoder to encode Nominal features

from sklearn.preprocessing import LabelEncoder

In [0]:
# Instantiating the LabelEncoder transformer
class_encoder = LabelEncoder()

# Fitting the label encoder on the 'class' column
# In this method, the object associates each class label to a unique number
class_encoder.fit(df['class'])

# Transforming the 'class' column to its numerically encoded format 
df['class'] = class_encoder.transform(df['class'])

df

   color size  price  class
0  green   XL    540      0
1    red    M    600      1
2  black    S    490      0
3   blue    L    750      0